<div class="row">
    <div class="col-2">
        <h1>Give Your Cake <br> A New Shape!</h1>
            <p>We bake your shapes<br>into delicious cake.</p>
            <p>Place your Order right now!!</p>
            <a href="#" class="btn">Explore Bakery &#8594</a>
    </div>
    <div class="col-2">
        <img src="/images/darkcake.png" alt="">
    </div>
</div> 
</div>  <!-- container end -->
</div> <!-- header end -->