</head>
<body>
    <% if(title == 'Cake') { %>
    <div class="header">
        
    <div class="container">
        <% } %>
    <div class="navbar">
        <div class="logo">
            <img src="/images/cakelogo.png" alt="cakelogo">
        </div>
        <nav>
            <ul id="menuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/cakes">Cakes</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </nav>
            <img src="/images/cart2.png" alt="cart">
            <img src="/images/menu.png" alt="" class="menu-icon" onclick="menuToggle()">
    </div>