</head>
<body>
    <% if(title == 'Cake') { %>
    <div class="header">
        
    <div class="container">
        <% } %>
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/cakelogo.png" alt="cakelogo"></a>
        </div>
        <nav>
            <ul id="menuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/cakes">Cakes</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/account">Sign In</a></li>
            </ul>
        </nav>
            <a href="/cart" class="cart-icon"><img src="/images/cart2.png" alt="cart"></a>
            <img src="/images/menu.png" alt="" class="menu-icon" onclick="menuToggle()">
    </div>