/***************All Cakes ***********************/

.row-2 {
    justify-content: space-between;
    margin: 50px auto 50px;
}

select {
    border: 1px solid #ff523b;
    border-radius: 5px;
    padding: 5px;
}

select:focus {
    outline: none;
}

.pagination {
    margin: 0 auto 80px;
}

.pagination span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.pagination span:hover {
    background: #ff523b;
    color: #fff;
}

/**************************Details*************************/

.single-cake {
    margin-top: 5px;
}

.single-cake .col-2 {
    padding: 20px;
}

.single-cake img {
    padding: 0;
}
.single-cake h1 {
    font-size: 33px;
    padding: 0;
}

.single-cake p {
    padding: 0;
}

.single-cake .btn {
    margin-left: 5px;
}
/* .single-cake .col-2 h3 {
    padding-left: 30px;
    padding-right: 20px;
} */

.single-cake .col-2 h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-cake select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    
}

.single-cake input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-cake .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/********************** Cart cake *************************/

.cart-page {
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

.cart-info p {
    padding: 0;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 370px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/****************Account page ****************/

.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

.form-container .btn {
    margin-left: 0;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#loginForm {
    left: -300px;
}

#regForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    height: 3px;
    border: none;
    background: #ff523b;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/********** Adding New Cake Form**********/

.form-control {
    margin: auto 300px;
    padding: 5px;
}

#cakeDescription {
    width: 100%;
}